@media (max-width: 430px){
/* Multiple uses */

    #width-style{
    margin: 0 auto;
    margin-bottom: 36px;
}

.btn{
    padding: 10px 16px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.style-h3{
    margin-bottom: 10px;
    font-size: 22px;
    margin-left: 15px;
}

.card-design{
    padding: 17px;
}

.card-design p{
    line-height: 17px;
    font-size: 12px;
}

.card-image{
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.card-design h4{
    font-size: 18px;
    margin-bottom: 5px;
}
/*Hero section */
nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px ;
    align-items: center;
}

nav h2{
    font-size: 22px;
    font-weight: 700px;
}

.her-section-button{
    background-color: white;
    border: 1px solid rgba(0, 106, 80, 1);
    color: black;
    font-weight: 600px;
    font-size: 13px;
    padding: 6px 10px;
}

.hero-section{
    background: rgba(198, 228, 214, 1);
    flex-direction: column-reverse;
    border-radius: 8px;
    position: relative;
    padding: 26px 30px;
    gap: 25px;
}


/* Pillars of Bangladesh */

.idea h3{
    margin-top: 13px;
    font-size: 25px;
    line-height: 33px;
}

.pillar-card-container, .vision-card-container{
    padding: 0px 15px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

 /* Vision section  */

.style-p{
    font-size: 12px;
    line-height: 19px;
    margin: 0px 0px 16px 15px;
}

.quotetion-image-cintainer {
    padding-top: 30px;
    margin: 0px 15px;
}

#small{
    font-size: 8px;
}

/* Opinion matter */

.select-tik-container{
    margin: 0px 15px;
}

.select-part, .row{
    padding: 6px;
}

.row select{
    font-size: 9px;
    padding: 3px 4px;
}

/* Resent news */

.resent {
    margin:0px 15px;
}

.redius{
    width: 100%;
    height: 220px;
}

.resent-news-box{
    display: flex;
    flex-direction: column;
}

#revarse{
    display: flex;
    flex-direction: column;
}

/* Donate section */

.last-section{
    margin:0px 15px;
}

.donate-tk{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin:0px 90px ;
}

.tk{
    padding: 20px;
    border-radius: 16px;
    font-size: 12px;
}

.donate-container input{
    width: 47%;
    margin-top: 14px;
    border:none;
    padding: 16px;
}

/* Subscribe section */

.subcribe-container{
    margin: 0px 15px;
}

.subscribe-box{
    padding: 15px 0px;
    width: 100%;
}

.subscribe-box input{
    padding:8px 16px;
    border-radius: 5px;
}

/* Footer */

.footer-container ul{
    display: flex;
    gap: 15px;
    margin-top: 12px;
}

.footer-container{
    padding: 37px 0px;
}
}