*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245);
}

/* Multiple use*/

#width-style{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.card-design{
    background-color: rgba(255, 255, 255);
    padding: 24px;
    box-shadow: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.btn{
    padding: 13px 26px;
    font-weight: 600px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
}

.style-h3{
    margin-bottom: 32px;
    font-size: 35px;
}

.card-image{
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
}

.card-design h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 24px;
    margin-bottom: 12px;
}

.card-design p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    font-size: 16px;
    /* margin-bottom: 24px; */
}


/* Header section */

nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px ;
    align-items: center;
}

nav h2{
    font-size: 32px;
    font-weight: 700px;
}

.her-section-button{
    background-color: white;
    border: 1px solid rgba(0, 106, 80, 1);
    color: black;
    font-weight: 600px;
    font-size: 18px;
    padding: 15px 30px;
}

.hero-section{
    background: rgba(198, 228, 214, 1);
    border-radius: 8px;
    position: relative;
}

.hero-section{
    padding: 80px 100px;
    display: flex;
    gap: 64px;
}

.idea{
    padding-top: 12px;
}

.style-p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 32px;
}

.idea h3{
    font-size: 38px;
    line-height: 50px;
    /* margin-bottom: 24px; */
}

/* Pillars of Bangladesh */



.pillar-card-container{
    display: flex;
    gap: 40px;
}


 /* Vision section  */

.vision-card-container{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.yunus{
    font-size: 22px;
    margin-top: 24PX;
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.quotetion-image-cintainer{
    position: relative;
}

.quotetion-image{
    padding-top: 0;
    position: absolute;
}

.quotetion-image-cintainer .paddint-top{
    padding-top: 30px;
}

/* Opinion matter */

.select-part, .row{
    border: 1px solid rgba(14, 14, 14, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.row select{
    padding: 10px 14px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 4px;
}



/* Resent news */

.resent-news-box{
    display: flex;
    gap: 32px;
}

.resent-news-box .redius{
    border-radius: 24px;
}

.margin-bottom{
    margin-bottom: 24px;
}

.resent-news-box h4{
    color: rgba(14, 14, 14, 0.8);
}

.resent-news-box .date-time{
    display: flex;
    gap: 12px;
    margin: 12px 0px;
}

#revarse{
    display: flex;
    flex-direction: row-reverse;
}

/* Donate section */

.donate-tk{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.tk{
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    font-size: 35px;
    font-weight: bold;
    color:  rgba(14, 14, 14, 0.8);
}

.donate-container{
    text-align: center;
    margin: 0 auto;
}

.donate-container input{
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 32px;
    border:none;
    background: rgba(255, 255, 255, 1);
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}

/* Subscribe section */

.subcribe-container{
    background-color: rgba(198, 228, 214, 1);
}

.subscribe-box{
    padding: 80px 0px;
    text-align: center;
    width: 51%;
    margin: 0 auto;
}

.subscribe-h3{
    margin-bottom: 16px;
}

.subscribe-p{
    margin-bottom: 16px;
}

.subscribe-box input{
    padding:21px 40px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: rgba(255, 255, 255, 1);
    border: none;
}

.another-button{
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgba(0, 106, 80, 1);
}

/* Footer */

footer{
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}

.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}

.footer-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 32px;
}